# String Immutability and Concatination

It means that we cannot change items in a string. For Ex.:

In [1]:
# Let's say we have a string 'abcde'
mystring = "abcde"

In [2]:
mystring

'abcde'

In [3]:
# Now we only want to change 'b' to 'z'

mystring[1]

'b'

In [4]:
mystring[1] = 'z'

TypeError: 'str' object does not support item assignment

You can see the error: 'str' object does not support item assignment.

So, in order to get the desired result we can say:

In [6]:
mystring = mystring[0] + 'z' + mystring[2:]

In [7]:
mystring

'azcde'

In the above cell we have also seen an example of staring concatination. For Ex:

In [10]:
str1 = "Hello "
str2 = "World"

In [11]:
str1 + str2

'Hello World'

Note:- We can only perform string to string concatination. We can not concatinate string with a numaric value, For Ex:-

In [12]:
str1 = "Hello"
num1 = 2
str1+num1

TypeError: can only concatenate str (not "int") to str

### Let's se string multiplication that allows us to concatinate multiple string at a time

In [13]:
str3 = "Hello !"

In [14]:
str3

'Hello !'

Now if we want 3 'Hello !'s, we can write:

In [15]:
str3 * 3

'Hello !Hello !Hello !'

In [17]:
# Let we have a letter 'z' and we quickly want 10 'z's like 'zzzzzzzzzz', we can write

'z' * 10

'zzzzzzzzzz'

As we know python is a dynamicaly typed language we need to be very carefull about the data types. Like if we add

    2 + 2

In [18]:
2 + 2

4

It gives 4, that's ok. but if you want
    
    '2' + '2'

In [19]:
'2' + '2'

'22'

It gives '22', it means it performs a string concatination, not an addition.

### Built-in string methods

In [22]:
# Let's create a string
str4 = "Hello"

# Now write str4 and hit TAB, Jupiter notebook will give you a list of built-in string functions. Let's use the upper() function
str4.upper()

'HELLO'

In [23]:
# if you just say str4.upper, it will tell the type of upper
str4.upper

You can see in above statement, we are using upper without the (), that tells python not to execute the function, insteed just tell the type of it i.e, a function.

Now, let's see some examples of more built-in functions.

In [24]:
x = "This is a new string."

In [25]:
x.split()

['This', 'is', 'a', 'new', 'string.']

The split method splits a string base on white-spaces by default. But you can use split based on any other letter or sequence of characters also. For ex:

In [26]:
x.split("i")

['Th', 's ', 's a new str', 'ng.']

#### The print function

It is used to print strings on the console.

In [28]:
print(x)

This is a new string.